.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
}

#box-4 {
  height: 100vh;
  width: 100%;
  background-image: url(../../assets/img/home/hongkong.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

